@import url('https://fonts.googleapis.com/css?family=Assistant:300');

/* Page wide rulesets */

html, body {
  font-family: 'Assistant', sans-serif;
  background-color: #e0e0e0;
  margin: 0;
  padding: 0;
}

hr {
  border: 0;
  height: 1px;
  width: 75%;
  background-image: linear-gradient(to right, rgba(41, 67, 78, 0), rgba(41, 67, 78, 0.75), rgba(41, 67, 78, 0));
}

/* Page header rulesets */

.main-header {
  color: white;
  background-color: #546e7a; 
  text-align: center;
}

h1 {
  font-weight: bolder;
}

h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.card-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 2px 16px;
}

.card-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.subheading {
  display: flex;
  justify-content: space-around;
  color: #e0e0e0;
}

.heading {
  margin: 10px 5px 10px 5px;
}

.decorative {
  color: white;
  font-weight: bold;
}

/* Page body rulesets */

.wip-message {
  text-align: center;
  font-variant: small-caps;
}

/* Non-mobile views */
@media screen and (min-width: 480px) {
  .subheading {
    justify-content: center;
  }

  .heading {
    margin-left: 10px;
    margin-right: 10px;
  }
}

/* Page footer rulesets */

.contact-info {
  text-align: center;
}
